:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.btn {
    cursor: pointer;

}

body {

    /* font-family: 'Lobster', cursive;  */
    font-family: 'Playball', cursive;
    /* font-family: 'Roboto', sans-serif; */
}

html {
    box-sizing: border-box;
}

.player {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1499415479124-43c32433a620?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    background-size: cover;
    animation: slide linear infinite 20s;
    background-repeat: no-repeat;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .1s;

}

.player .fa-pause {
    display: none;
}

.player.playing .fa-pause {
    display: inline-block;
}

.player.playing .fa-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-image: linear-gradient(to left bottom, #f4d03f, #16a085);
    /* #5ecde1,#2caee2 
    #f1c9ec,#ab84c4
    #f4a261,#ffc52d
    #f1c9ec,#ecff9f
    #2b5876,#4e4376
    #0c97fa,#16e1f5
    #f4d03f,#16a085
    #49c5f6,#ff2aef*/
    /* position: fixed; */
    /* position: relative; */
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    border-bottom: 1px solid #c32b2b;
    opacity: 0.9;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

header {
    /* display: block; */
    /* text-align: center;
    justify-content: center;
    margin: auto; */
    text-align: center;
    margin-bottom: 10px;
}

.cd {
    display: flex;
    margin: auto;
    width: 200px;

}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #c32b2b;
    background-image: url(./assets/img/mtp.jpg);
    background-size: cover;
    margin: auto;
}

.control {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 10px 0;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
}

.control .btn {
    color: #5423d1;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    color: #6519df;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.555);
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 3px
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* playlist */
.playlist {
    padding: 20px;
    background-color: rgb(197, 175, 166);
    /* margin-top: 485px; */
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 411px;

    /* scroll */
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 20px;
    scroll-behavior: smooth;
    animation: identifier ease-in-out 1.2s;
    animation-fill-mode: both;
    display: none;
}



@keyframes identifier {
    90% {}

    to {
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@keyframes slide {
    50% {
        background-position: 100%;
    }
}


.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #f4c6e2;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song .thumb {

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;

}

.song .body {
    flex: 1;
    padding: 0 16px;

}

.song .title {
    font-size: 20px;
    color: var(--text-color);
}

.song .author {
    font-size: 15px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;

}

.song.active {
    background-color: var(--primary-color)
}

/* đổi lại chữ màu trắng nếu nền màu đỏ */

.song.active .title {
    color: aliceblue;
}

.song.active .author {
    color: aliceblue;
}

.song.active .option {
    color: aliceblue;
}

/* bắt sự kiện nhấn */
.song:active {
    opacity: 0.7;
}

header h2 {
    color: var(--primary-color);
}

.listsong {
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.settingsongs .fa-gear {
    cursor: pointer;
}

.settingsongs .fa-gear:hover {
    color: var(--primary-color);
}

.listsong .fa-list {
    cursor: pointer;
}

.listsong .fa-list:hover {
    color: var(--primary-color);
}

.btn-next:hover {
    color: var(--primary-color);
}

.btn-prev:hover {
    color: var(--primary-color);
}

.btn-toggle-play:hover {
    color: var(--primary-color);
}

.closelist {
    position: absolute;
    /* background-color: #6519df; */
    width: 100px;
    height: 100px;
    font-size: 30px;
    top: 19%;
    left: 61%;
    transform: translate(-50%, -50%);
    display: none;
}

.fa-square-xmark {
    color: red;

}

/* responsive */
/* mobile width < 740px */
@media screen and (max-width: 739px) {}

