:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {

    /* font-family: 'Lobster', cursive;  */
    font-family: 'Playball', cursive;
    /* font-family: 'Roboto', sans-serif; */
}

html {
    box-sizing: border-box;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 10%;

}

.player .fa-pause {
    display: none;
}

.player.playing .fa-pause {
    display: inline-block;
}

.player.playing .fa-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: rgb(193, 141, 176);
    position: fixed;
    border-radius: 5px;
    top: 50px;
    /* top: 0; */
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #c32b2b;

}

header {
    /* display: block; */
    /* text-align: center;
    justify-content: center;
    margin: auto; */
    text-align: center;
    margin-bottom: 10px;
}

.cd {
    display: flex;
    margin: auto;
    width: 200px;

}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #c32b2b;
    background-image: url(./assets/img/mtp.jpg);
    background-size: cover;
    margin: auto;
}

.control {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 10px 0;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
}

.control .btn {
    color: #c10404;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #6519df;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 3px
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }

/* playlist */
.playlist {
    padding: 12px;
    background-color: rgb(249, 241, 238);
    margin-top: 485px;
    border-radius: 5px;

}

body {
    background-image: url(https://images.unsplash.com/photo-1499415479124-43c32433a620?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    width: 100%;
    background-size: cover;
    animation: slide linear infinite 25s ;
    /* transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  */
}
@keyframes slide {
    50% {
      background-position: 100%;
  }
}

div {
    display: block;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #f4c6e2;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song .thumb {

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;

}

.song .body {
    flex: 1;
    padding: 0 16px;

}

.song .title {
    font-size: 25px;
    color: var(--text-color);
}

.song .author {
    font-size: 15px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;

}
